# Programmation en Python
### DUT IDSD 1
#### 2019/2020

## Chapitre 5 : Module Numpy- Parie II

In [1]:
import numpy as np

In [2]:
A=np.random.randint(0,10,(2,3))
A

array([[4, 3, 3],
       [8, 6, 3]])

Pour grader le tableau A tel qu'il est même si on compile une autre fois, on ajoute la commande **np.random.seed** au début comme suit

In [7]:
np.random.seed(0)
A=np.random.randint(0,10,[2,3])
A

array([[5, 0, 3],
       [3, 7, 9]])

### III. Statistiques et Algèbre linéaire avec Numpy

#### La somme, La somme sur un axe et la somme cumulé

La somme de tous les éléments du tableau

In [7]:
A.sum()

27

In [8]:
np.sum(A)

27

Maintenant, on cherche à calculer la somme suivant les lignes ou bien les colonnes
<img src="axes.jpg" />

In [10]:
#La somme de chaque colonne 
A.sum(axis=0)

array([ 8,  7, 12])

In [11]:
#La somme de chaque ligne
A.sum(axis=1)

array([ 8, 19])

De même, on peut calculer la somme cumulé de tout le tableau ou suivant un axe précis à l'aide de la méthode **cumsum**

In [12]:
A.cumsum()

array([ 5,  5,  8, 11, 18, 27], dtype=int32)

In [11]:
A.cumsum(axis=0)

array([[ 5,  0,  3],
       [ 8,  7, 12]], dtype=int32)

#### Autres méthodes similaires
voici quelques méthodes qui fonctionne comme la méthode sum
<img src="fcts.png" />

Par exemple, on peut calculer le minimum suivant un axe (ex. suivant les lignes)

In [12]:
A.min(axis=1)

array([0, 3])

**N.B** : si parfois on s'interesse à la position du minimum(resp. du maximum), on utilise la méthode **argmin()** (resp.argmax()).

In [13]:
A.argmin(axis=1)

array([1, 0], dtype=int32)

In [14]:
A.argmin(axis=0)

array([1, 0, 0], dtype=int32)

#### trier et trier selon un axe

On peut trier un tableau avec la méthode **sort()** comme on peut obtenir les indices des éléments avec la méthode **argsort()**

In [15]:
A

array([[5, 0, 3],
       [3, 7, 9]])

In [16]:
A.argsort(axis=0)

array([[1, 0, 0],
       [0, 1, 1]], dtype=int32)

#### Autre fonctions mathématique de numpy

In [13]:
np.exp(A)
# l'exponentiel de chaque élément

array([[1.48413159e+02, 1.00000000e+00, 2.00855369e+01],
       [2.00855369e+01, 1.09663316e+03, 8.10308393e+03]])

In [16]:
np.cos(A)
# le cosinus de chaque élément

array([[ 0.28366219,  1.        , -0.9899925 ],
       [-0.9899925 ,  0.75390225, -0.91113026]])

**Exercice**
Soit le tableau **appartements** suivant dont lequel la première colonne représente le prix des appartements, la deuxième colonne représente la surface, la troisième colonne représente la qualité et la quatrième colonne représente la disposition d'un garage.

In [18]:
np.random.seed(1)
prix=np.random.randint(100000,300000,[10,1])
surface=np.random.randint(50,120,[10,1])
qualite=np.random.randint(1,4,[10,1])
garage=np.random.randint(0,2,[10,1],dtype=np.bool)

In [19]:
appartements=np.hstack([prix,surface,qualite,garage])

In [20]:
appartements

array([[228037,     56,      1,      0],
       [105192,     75,      2,      1],
       [150057,    100,      2,      1],
       [209259,     70,      3,      0],
       [173349,     68,      1,      1],
       [217583,     61,      3,      0],
       [121440,     78,      2,      0],
       [251681,     79,      2,      0],
       [280172,     64,      2,      0],
       [238823,    100,      2,      1]])

1. Calculer le maximum par rapport à chaque entité (prix, surface et qualité)
2. Afficher l'indice de la surface minimale
3. Affecter à l'appartemen ayant la surface minimale le prix minimum.

In [21]:
appartements[:,:-1].max(axis=0)

array([280172,    100,      3])

In [23]:
appartements[:,1].argmin(axis=0)

0

In [24]:
appartements[appartements[:,1].argmin(axis=0),0]=appartements[:,0].min()

In [25]:
appartements

array([[105192,     56,      1,      0],
       [105192,     75,      2,      1],
       [150057,    100,      2,      1],
       [209259,     70,      3,      0],
       [173349,     68,      1,      1],
       [217583,     61,      3,      0],
       [121440,     78,      2,      0],
       [251681,     79,      2,      0],
       [280172,     64,      2,      0],
       [238823,    100,      2,      1]])

### Statistique

In [22]:
A

array([[5, 0, 3],
       [3, 7, 9]])

#### La moyenne

In [27]:
A.mean()

4.5

In [36]:
A.mean(axis=1)

array([2.66666667, 6.33333333])

#### L'écart type

In [29]:
A.std()

2.9297326385411577

In [34]:
A.std(axis=1)

array([2.05480467, 2.49443826])

#### La variance

In [32]:
A.var()

8.583333333333334

In [40]:
A.var(axis=1)

array([4.22222222, 6.22222222])

#### Coefficient de corrélation
<img src="corcoeff.jpg" />

In [44]:
np.corrcoef(A)
# La matrice des coefficients de corrélation entre les différentes lignes

array([[ 1.        , -0.56362148],
       [-0.56362148,  1.        ]])

In [45]:
np.corrcoef(A)[0,1]
# Le coefficient de corrélation entre les lignes 1 et 2

-0.563621480190678

#### Nombre de répétitions des éléments

In [47]:
np.unique(A)
# renvoie les différentes éléments sans répétition figurant dans le tableau

array([0, 3, 5, 7, 9])

In [48]:
np.unique(A,return_counts=True)
# renvoie les différentes éléments ainsi que le nombre de répétitions

(array([0, 3, 5, 7, 9]), array([1, 2, 1, 1, 1]))

In [51]:
B=np.random.randint(0,2,[1,10],dtype=np.bool)
B

array([[False, False, False, False, False, False, False,  True,  True,
         True]])

In [52]:
np.unique(B,return_counts=True)

(array([False,  True]), array([7, 3]))

#### Astuce: Classer les éléments du moins fréquents au plus fréquent

In [56]:
# On stock les éléments et leurs nombre d'apparaîtions
vals,nbs=np.unique(A,return_counts=True)

In [58]:
#agrsort nous permet de retourner les indices des éléments du moins freq au plus freq
#On utilise multiindexing pour afficher les éléments
vals[nbs.argsort()]

array([0, 5, 7, 9, 3])

In [64]:
for i in range(len(vals)):
    print(vals[nbs.argsort()[i]], "apparaît",nbs[nbs.argsort()[i]],"fois")

0 apparaît 1 fois
3 apparaît 1 fois
5 apparaît 1 fois
7 apparaît 1 fois
9 apparaît 2 fois

#### Statistique avec NAN

Parfois les données collectées sont corrompus et cela se traduit par la présence de la valeur nan(not a number). Dans ce cas on ne peut pas utiliser les méthodes mean(), var() ou bien std() comme précédement.

In [92]:
C=np.random.randn(5,5)
C[0,1]=np.nan
C[3,2]=np.nan
C

array([[ 2.21191487,         nan,  0.29117816,  0.10806266, -0.19953292],
       [ 0.2328323 ,  0.15539326,  0.59372515, -1.35055772,  0.83056467],
       [ 0.11321804, -1.24274572,  1.59948307,  2.47441941, -0.33232485],
       [ 0.77714652,  0.09035118,         nan,  0.74325857, -0.41917807],
       [ 0.00496046, -0.83355727, -0.37935889, -0.54362249,  1.08361763]])

In [93]:
C.mean()

nan

pour ce la on itilise les fonctions statiqtiques qui tient en charge la valeurs nan

In [94]:
np.nanmean(C)   # pour calculer la moyenne

0.26127165414518577

In [95]:
np.nanvar(C,axis=0)   # pour calculer la variance selon les colonnes

array([0.6664723 , 0.35845222, 0.50794209, 1.67930415, 0.40089961])

**N.B :** Il faut toujours corrigé les données parvenant de l'exterieurs. En effet, on peut utiliser les fonctions suivantes

##### Detection des positions ayant la valeurs nan

In [96]:
np.isnan(C)
# cet fonction retourne un masque dont la valeur True indique la présence d'une valeur nan

array([[False,  True, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False,  True, False, False],
       [False, False, False, False, False]])

In [97]:
np.isnan(C).sum()
# Nombre de nan dans le tableau

2

In [98]:
np.isnan(C).sum()/C.size*100
# pourcentage des données manquantes

8.0

Souvent en remplace les valeurs nan par une autre valeur ou par la moyenne comme suit

In [100]:
C[np.isnan(C)]=0 #  C[np.isnan(C)]=np.nanmean(C)
C

array([[ 2.21191487,  0.26127165,  0.29117816,  0.10806266, -0.19953292],
       [ 0.2328323 ,  0.15539326,  0.59372515, -1.35055772,  0.83056467],
       [ 0.11321804, -1.24274572,  1.59948307,  2.47441941, -0.33232485],
       [ 0.77714652,  0.09035118,  0.26127165,  0.74325857, -0.41917807],
       [ 0.00496046, -0.83355727, -0.37935889, -0.54362249,  1.08361763]])

### Algèbre linèaire

In [23]:
E=np.ones((2,3))
F=np.ones((3,2))
E

array([[1., 1., 1.],
       [1., 1., 1.]])

In [24]:
F

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

#### Transposé d'un tableau

In [25]:
E.T

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [26]:
E

array([[1., 1., 1.],
       [1., 1., 1.]])

In [115]:
np.transpose(E)

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

#### Produit de deux tableaux

**Règle :** le nombre de colonnes du premier tableau soit égale au nombre des lignes du deuxième tableaux
<img src="trp.jpg" />

In [27]:
E@F

array([[3., 3.],
       [3., 3.]])

In [28]:
np.dot(E,F)

array([[3., 3.],
       [3., 3.]])

In [121]:
E.dot(F)

array([[3., 3.],
       [3., 3.]])

#### Le sous package numpy.linalg

D'une manière générale quand on veut faire de l'algèbre linéaire avec numpy, alors on un sub-package qui est totalement dédier à ce genre de calcule **np.linalg** dans lequel on trouve tous ce qu’on veut (trace d’une matrice, déterminant, inverser une matrice, les normes, valeurs et vecteurs propres propres…).

**Exemple :** Soit la matrice $H$ suivante

In [124]:
np.random.seed(0)
H=np.random.randint(0,10,[3,3])
H

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2]])

$H$ est-elle inversible?

In [126]:
np.linalg.det(H)
# si det(H) est différent de 0 alors H est inverssible

-172.99999999999991

In [127]:
# Calcule de l'inverse de H
np.linalg.inv(H)

array([[ 0.17919075, -0.0867052 ,  0.12138728],
       [-0.12138728, -0.00578035,  0.20809249],
       [ 0.03468208,  0.14450867, -0.20231214]])

In [130]:
#Vérification
H@np.linalg.inv(H)

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.11022302e-16,  1.00000000e+00, -2.22044605e-16],
       [-8.32667268e-17,  5.55111512e-17,  1.00000000e+00]])

#### Calcule des valeurs et vecteurs propres

In [133]:
# Les valeurs propres
np.linalg.eigvals(H)

array([12.49089335,  4.55184722, -3.04274057])

In [136]:
np.linalg.eig(H)
# retourne deux tableux le premier des valeurs propres et le deuxième des vecteurs
# propres associées

(array([12.49089335,  4.55184722, -3.04274057]),
 array([[-0.18648192, -0.8221011 , -0.28156841],
        [-0.86510408,  0.55593861, -0.59237215],
        [-0.46563872,  0.12280896,  0.75486056]]))

---

**Exercice :** Soit $A$ le tableau suivant

Utiliser la formule suivante pour standariser la matrice $A$ sur chaque colonne
$$\dfrac{A-moy(A)}{\sigma(A)}$$

In [140]:
np.random.seed(0)
A=np.random.randint(0,100,[10,5])
A

array([[44, 47, 64, 67, 67],
       [ 9, 83, 21, 36, 87],
       [70, 88, 88, 12, 58],
       [65, 39, 87, 46, 88],
       [81, 37, 25, 77, 72],
       [ 9, 20, 80, 69, 79],
       [47, 64, 82, 99, 88],
       [49, 29, 19, 19, 14],
       [39, 32, 65,  9, 57],
       [32, 31, 74, 23, 35]])

**Réponse :**

In [142]:
A=(A-A.mean(axis=0))/A.std(axis=0)
A

array([[-2.20615671e-02,  4.44089210e-17,  1.31738233e-01,
         7.25392525e-01,  1.07557976e-01],
       [-1.56637126e+00,  1.61579632e+00, -1.48676006e+00,
        -3.30343075e-01,  9.68021783e-01],
       [ 1.12513992e+00,  1.84021247e+00,  1.03508612e+00,
        -1.14768676e+00, -2.79650737e-01],
       [ 9.04524250e-01, -3.59065849e-01,  9.97446623e-01,
         1.02167961e-02,  1.01104497e+00],
       [ 1.61049440e+00, -4.48832311e-01, -1.33620208e+00,
         1.06595240e+00,  3.22673928e-01],
       [-1.56637126e+00, -1.21184724e+00,  7.33970157e-01,
         7.93504499e-01,  6.23836260e-01],
       [ 1.10307835e-01,  7.63014928e-01,  8.09249147e-01,
         1.81518411e+00,  1.01104497e+00],
       [ 1.98554104e-01, -8.07898159e-01, -1.56203905e+00,
        -9.09294855e-01, -2.17267111e+00],
       [-2.42677238e-01, -6.73248466e-01,  1.69377728e-01,
        -1.24985473e+00, -3.22673928e-01],
       [-5.51539177e-01, -7.18131697e-01,  5.08133185e-01,
        -7.73070906e-01, -1.26918412e+00]])

In [143]:
A.mean(axis=0)

array([ 5.55111512e-17,  0.00000000e+00,  0.00000000e+00,  5.55111512e-17,
       -2.22044605e-17])

In [144]:
A.std(axis=0)

array([1., 1., 1., 1., 1.])