## Exercices : Module Numpy et datascience (partie I)

1. Importez **numpy** en tant que **np** et imprimez le numéro de version.

2. Créer un tableau 1D de nombres de 0 à 9?

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Créez un tableau numpy 3 × 3 remplie par la valeur **True**

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

3.1. Créez un tableau de même taille que le tableau de la question 2 mais cette fois_çi rempli par True

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

4. Convertir un tableau 1D en tableau 2D avec 2 lignes

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

5. Extraire tous les nombres impairs du tableau de la question 2

array([1, 3, 5, 7, 9])

6. Remplacez tous les nombres impairs du tableau de la question 2 par -1

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

7. Empiler deux tableaux a et b verticalement

8. Empilez les tableaux a et b horizontalement.

9. Obtenez les éléments communs entre deux tableaux a et b

10. Du tableau a, supprimez tous les éléments présents dans le tableau b

11. Obtenez les positions où les éléments de a et b correspondent

12. Obtenez tous les articles entre 5 et 10 d'un tableau a par deux méthodes différentes.

In [1]:
# Method 1:

In [2]:
# Method 2:

13. Ecrire une fonction **maxiarry(a,b)** qui renvoie un tableau contenant les maximums entre les éléments de a et b situés à la même position.

In [3]:
def maxiarry(a,b):
    pass

In [23]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

maxiarry(a, b)

array([6, 7, 9, 8, 9, 7, 5])

14. Inverser les lignes d'un tableau 2D nommé M

In [8]:
M = np.arange(9).reshape(3,3)

In [9]:
M

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

15. Inversez les colonnes du M.

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

16. Créez un tableau 2D de forme 5x3 pour contenir des nombres décimaux aléatoires entre 5 et 10.

array([[6, 7, 8],
       [5, 6, 5],
       [5, 5, 8],
       [7, 5, 5],
       [8, 6, 8]])