## Exercices : Module Numpy et datascience (partie I)

1. Importez **numpy** en tant que **np** et imprimez le numéro de version.

In [2]:
import numpy as np
np.__version__

'1.15.4'

2. Créer un tableau 1D de nombres de 0 à 9?

In [4]:
A = np.arange(10)
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Créez un tableau numpy 3 × 3 remplie par la valeur **True**

In [5]:
np.full((3, 3), True, dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

3.1. Créez un tableau de même taille que le tableau de la question 2 mais cette fois_çi rempli par True

In [7]:
np.full_like(A,True,dtype=bool)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

4. Convertir un tableau 1D en tableau 2D avec 2 lignes

In [9]:
B = np.arange(10)
B.reshape(2, -1)  # La valeur -1 détermine automatiquement le nombre de cols

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

5. Extraire tous les nombres impairs du tableau de la question 2

In [7]:
A[A % 2 == 1]

array([1, 3, 5, 7, 9])

6. Remplacez tous les nombres impairs du tableau de la question 2 par -1

In [8]:
A[A % 2 == 1] = -1
A

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

7. Empiler les tableaux a et b verticalement

In [10]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
np.vstack([a, b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

8. Empilez les tableaux a et b horizontalement.

In [3]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
np.hstack([a, b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

9. Obtenez les éléments communs entre a et b

In [4]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

10. Du tableau a, supprimez tous les éléments présents dans le tableau b

In [13]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

11. Obtenez les positions où les éléments de a et b correspondent

In [14]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a==b)

(array([1, 3, 5, 7], dtype=int32),)

12. Obtenez tous les articles entre 5 et 10 d'un.

In [15]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
# Methode 1
indice = np.where((a >= 5) & (a <= 10))
a[indice]

array([ 6,  9, 10])

In [16]:
# Method 2:
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

13. Ecrire une fonction **maxiarry(a,b)** qui renvoie un tableau contenant les maximums entre les éléments de a et b situés à la même position.

In [22]:
def maxiarry(a,b):
    c=np.zeros(a.shape,dtype=a.dtype)
    for i in range(len(a)):
        c[i]=max(a[i],b[i])
    return c

In [23]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

maxiarry(a, b)

array([6, 7, 9, 8, 9, 7, 5])

14. Inverser les lignes d'un tableau 2D nommé M

In [24]:
M = np.arange(9).reshape(3,3)

In [25]:
M[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

15. Inversez les colonnes du M.

In [27]:
M = np.arange(9).reshape(3,3)
M[:,::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

16. Créez un tableau 2D de forme 5x3 pour contenir des nombres décimaux aléatoires entre 5 et 10.

In [29]:
np.random.randint(5,10,(5,3))

array([[6, 7, 8],
       [5, 6, 5],
       [5, 5, 8],
       [7, 5, 5],
       [8, 6, 8]])