## Exercices : Module Numpy et datascience (partie I)

1. Importez **numpy** en tant que **np** et imprimez le numéro de version.

In [1]:
import numpy as np
np.__version__

'1.20.2'

2. Créer un tableau 1D de nombres de 0 à 9?

In [2]:
t=np.arange(0,10)
t

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

3. Créez un tableau numpy 3 × 3 remplie par la valeur **True**

In [3]:
np.full((3,3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

3.1. Créez un tableau de même taille que le tableau de la question 2 mais cette fois_çi rempli par True

In [4]:
np.full((1,10),True)

array([[ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]])

4. Convertir un tableau 1D en tableau 2D avec 2 lignes

In [5]:
t.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

5. Extraire tous les nombres impairs du tableau de la question 2

In [6]:
t1 = t[t%2==1]
t1

array([1, 3, 5, 7, 9])

6. Remplacez tous les nombres impairs du tableau de la question 2 par -1

In [7]:
t[t%2==1]=-1
t

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

7. Empiler deux tableaux a et b verticalement

In [4]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
np.vstack([a,b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

8. Empilez les tableaux a et b horizontalement.

In [5]:
np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

9. Obtenez les éléments communs entre deux tableaux a et b

In [9]:
np.intersect1d(a,b)

array([1])

10. Du tableau a, supprimez tous les éléments présents dans le tableau b

In [25]:
np.where(t==t1,0,t)

array([0, 0, 0, 0, 0])

11. Obtenez les positions où les éléments de a et b correspondent

In [14]:
np.where(a==b)

(array([0]), array([1]))

12. Obtenez tous les articles entre 5 et 10 d'un tableau a par deux méthodes différentes.

In [16]:
# Method 1:
m = np.where((a>5)&(a<10))
a[m]

array([6, 7, 8, 9])

In [17]:
# Method 2:
a[(a>5)&(a<10)]

array([6, 7, 8, 9])

13. Ecrire une fonction **maxiarry(a,b)** qui renvoie un tableau contenant les maximums entre les éléments de a et b situés à la même position.

In [20]:
def maxiarry(a,b):
    return [max(a[i],b[i]) for i in range(len(a))]

In [21]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

maxiarry(a, b)

[6, 7, 9, 8, 9, 7, 5]

14. Inverser les lignes d'un tableau 2D nommé M

In [23]:
M = np.arange(9).reshape(3,3)

In [24]:
M

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [26]:
M[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

15. Inversez les colonnes du M.

In [29]:
M[:,::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

16. Créez un tableau 2D de forme 5x3 pour contenir des nombres décimaux aléatoires entre 5 et 10.

In [38]:
np.random.randint(5,10,5*3).reshape(5,3)

array([[5, 5, 9],
       [8, 5, 6],
       [6, 5, 5],
       [8, 7, 5],
       [6, 9, 7]])